<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {#{{ dump(tagManager.getTagsFor('parameter')) }}#}
    {#{{ render(controller('App\\Controller\\MainController::tags', {'place': 'blog'})) }}#}
        {% block body %}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
